@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');

p, button, span, a, label{
  font-family: "Quicksand", sans-serif;

}
.btn {
  background-color: #fe8c45;
  color: white;
  font-weight: 300;
}
.btn:hover {
  border: 1px solid #fe8c45;
}

.pointer{
  cursor: pointer;
}

.mlk{
  margin-left: 2px;
  margin-right: 2px;
}


/*Our Portfolio Section */
.sec4-h1{
  font-size: 64px;
  font-weight: 700;
}
.sec4-h1-2{
  font-size: 50px;
  font-weight: 200px;
}

/*Prices Section */
.sec5-h1{
  font-size: 60px;
  font-weight: 700;
}
.low-width{
  width: 400px;
}
.icons{
  height: 45px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*Testmonials Section */
.sec6-h1{
  font-size: 50px;
  color: black;
  font-weight: 700;
}
.sm{
  font-size: 22px;
}

/*Footer Section */
.sec7-h1{
  font-size: 30px;
}
.overHeightInput{
  height: 100x;
}
.changes-top{
  margin-top: 110px;
}

@media (max-width: 800px) {
  .big-font{
    font-size: 70px;
  }
  .changes-top{
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .big-font {
    font-size: 40px;
  }
  .line {
    padding: 0 50px;
  }
  .big-font2 {
    font-size: 30px;
  }
  .sec3-h1{
    font-size: 50px;
  }
  .sec4-h1{
    font-size: 50px;
  }
  .low-width{
    width: 200px;
  }
  .img-slider{
    width: 100%;
  }
  .sec6-h1{
    font-size: 43px;

  }
  .sm{
    font-size: 15px;
  }
  .sec7-h1{
    font-size: 45px;
  }
  .changes-top{
    margin-top: 20px;
  }
}
